<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <md-toolbar [routerLink]="['/home']">
      <h3>{{title}}</h3>
    </md-toolbar>
    <md-nav-list>
      <a md-list-item [routerLink]="['/user']">Users</a>
      <a md-list-item [routerLink]="['/role']">Roles</a>
    </md-nav-list>
  </md-sidenav>
  <md-content #content>
    <md-toolbar color="primary" class="fixed-toolbar">
      <button md-icon-button (click)="sidenav.toggle()">
        <md-icon class="md-24">menu</md-icon>
      </button>
      <span breakAction="hide" *ngIf="!sidenav.opened">{{title}}</span>
      <span class="toolbar-filler"></span>
      <template>
        <button md-button (click)="logout()">User Name Here</button>
      </template>
    </md-toolbar>
    <div class="container-fluid app-main-content">
      <router-outlet></router-outlet>
    </div>
  </md-content>
</md-sidenav-layout>
